@charset "utf-8";
html,body{ margin:0; padding:0;font-family: PingFang SC,Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td ,a,span,img, audio{ margin:0; padding:0; list-style:none; outline: none}
img{
    border:none;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    image-rendering: -moz-crisp-edges;/* Firefox */ /* 必须使用保留图像中的对比度和边缘的算法来缩放图像，并且不会在处理中使图像变得光滑或模糊 */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast;/*Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;/* ie8以下浏览器 */
}
a{text-decoration:none; display: inline-block; color: #000; cursor: pointer}
i{font-style: normal;}
.clearfix:after { content: ""; display: block; height: 0; overflow: hidden; clear: both; visibility: hidden; }
.fl{float: left}
.fr{float: right}
*{box-sizing: border-box;}
select,option,button,textarea,input,input:focus{ outline:none; }

/* 修改placeholder的默认颜色 */
input::-webkit-input-placeholder{
    font-size: 14px;
    color: #ccc;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #ccc;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #ccc;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 14px;
    color: #ccc;
}


/* flex 布局 */
.flex{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.flex-be {
    justify-content: space-between;
}


/* 超出省略号 */
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}