@charset "utf-8";

html,
body {
	width: 100%;
	height: auto;
	font-size: 14px;
	line-height: 28px;
	color: #333;
	background: #c8c9db;
}

.inner {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.link-a {
	color: #4c14c9;
}

.link-a:hover {
	text-decoration: underline;
}

.box-shadow {
	cursor: pointer;
	-webkit-box-shadow: 0 0 0 0 rgba(200, 201, 209, .5);
	-moz-box-shadow: 0 0 0 0 rgba(200, 201, 209, .5);
	box-shadow: 0 0 0 0 rgba(200, 201, 209, .5);
	-webkit-transition: box-shadow .3s;
	-moz-transition: box-shadow .3s;
	transition: box-shadow .3s;
}

.box-shadow:hover {
	-webkit-box-shadow: 0 3px 8px 0 rgba(200, 201, 209, .5);
	-moz-box-shadow: 0 3px 8px 0 rgba(200, 201, 209, .5);
	box-shadow: 0 3px 8px 0 rgba(200, 201, 209, .5);

}

/* 顶部区域 start */
.top {
	width: 100%;
	height: 38px;
	background: #997eef;
}

.top p {
	font-size: 12px;
	color: #fff;
}

.top p a {
	font-size: 12px;
	color: #fff;
	margin: 0 6px;
}

.top p a:hover {
	text-decoration: underline;
}


/* 顶部区域 start */


/* 头部导航区域样式 start */

.header {
	height: 120px;
	background: #fff;
}

.logo {
	width: 169px;
	height: 61px;
}

.nav a {
	font-size: 18px;
	margin-left: 80px;
	border-bottom: 3px solid transparent;
}

.nav a.active,
.nav a:hover {
	font-weight: bold;
	color: #8554f2;
	border-color: #8554f2;
}


/* 搜索样式 start */
.search-input {
	padding: 0 15px;
	margin-right: 8px;
	width: 290px;
	height: 40px;
	font-size: 18px;
	color: #333;
	line-height: 38px;
	border: 1px solid #997eef;
}

/* 修改placeholder的默认颜色 */
.search-input::-webkit-input-placeholder {
	font-size: 18px;
	color: rgba(133, 84, 242, .3);
}

.search-input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-size: 18px;
	color: rgba(133, 84, 242, .3);
}

.search-input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-size: 18px;
	color: rgba(133, 84, 242, .3);
}

.search-input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-size: 18px;
	color: rgba(133, 84, 242, .3);
}

/* 搜索样式 end */

/* 头部导航区域样式 end */

/* 底部公共样式 start */
.footer {
	color: #666;
	padding: 50px 0;
	text-align: center;
}

.more-ways {
	padding: 0 0 20px;
	line-height: 20px;
	border-bottom: 1px solid #b7bbc5;
}

.copyright {
	margin: 20px 0 16px;
}

.bot-nav {
	line-height: 20px;
}

.bot-nav a {
	margin: 0 10px;
	color: #666;
}

.bot-nav a:hover {
	cursor: pointer;
	color: #4c14c9;
	text-decoration: underline;
}

/* 底部公共样式 end*/
.main {
    min-width: 1200px;
    background: #fff url("../img/index/body-bg.png") center bottom no-repeat;
    background-size: 100%;
}